@media (max-width: 768px) {
    .page-header {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 10px;
    }
    
    h1 {
        font-size: 2rem;
    }
    nav {
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }

    nav a {
        margin: 0 5px;
        display: inline-block;
        padding: 5px;
    }

    .card-grid {
        grid-template-columns: 1fr;
    }

    .hero-layout {
        flex-direction: column;
    }
    
    .hero-featured-box {
        margin-left: 0;
        margin-top: 20px;
    }

    .mechanics-layout {
        grid-template-columns: 1fr;
    }
}